/* line 17, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 115, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 1, ../../app/stylesheets/_core.sass */
body {
  font-family: "Georgia", "Times", serif;
  color: #222222;
  width: 800px;
  margin: 1em auto 0;
}

/* line 10, ../../app/stylesheets/_core.sass */
#main {
  border: 1px solid #666666;
  padding: 1em;
  position: relative;
}

/* line 15, ../../app/stylesheets/_core.sass */
#content {
  overflow: hidden;
  *zoom: 1;
  padding: 1em 0;
  line-height: 140%;
}
/* line 19, ../../app/stylesheets/_core.sass */
#content p {
  margin-bottom: 0.5em;
}

/* line 22, ../../app/stylesheets/_core.sass */
#greeting {
  position: absolute;
  top: 5px;
  right: 7px;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  color: #888888;
  font-size: 0.7em;
}
/* line 23, ../../app/stylesheets/_core.sass */
#greeting p {
  margin-bottom: 5px;
  text-align: right;
}

/* line 33, ../../app/stylesheets/_core.sass */
header {
  font-family: Helvetica, Arial, Verdana, sans-serif;
  height: 40px;
  margin: 1em 0 0;
  text-align: left;
  display: block;
  border-bottom: 1px #888888 solid;
  position: relative;
}
/* line 41, ../../app/stylesheets/_core.sass */
header a#home_link {
  float: left;
  font-size: 2.5em;
  color: #222222;
}
/* line 45, ../../app/stylesheets/_core.sass */
header a#home_link:hover {
  color: #555555;
  text-decoration: none;
}
/* line 48, ../../app/stylesheets/_core.sass */
header #account_actions {
  position: absolute;
  right: 0;
  bottom: 4px;
  font-size: 0.8em;
}

/* line 54, ../../app/stylesheets/_core.sass */
span.hckr_logo {
  font-family: Helvetica, Arial, Verdana, sans-serif;
}

/* line 57, ../../app/stylesheets/_core.sass */
h1 {
  font-size: 3em;
  line-height: 100%;
  font-family: Georgia, Times, serif;
  margin-bottom: 10px;
}
/* line 62, ../../app/stylesheets/_core.sass */
h1 a {
  text-decoration: none;
  color: black;
}
/* line 65, ../../app/stylesheets/_core.sass */
h1 a:hover {
  text-decoration: none;
}

/* line 68, ../../app/stylesheets/_core.sass */
#widget-container {
  float: right;
}

/* line 71, ../../app/stylesheets/_core.sass */
footer {
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size: 0.8em;
  color: #999999;
  margin: 0 auto 2em;
  border-top: 1px solid #777777;
  padding: 6px;
  text-align: center;
}

/* line 80, ../../app/stylesheets/_core.sass */
#bottom_nav {
  margin-top: 2em;
  text-align: center;
}

/* line 84, ../../app/stylesheets/_core.sass */
a, .linkish {
  color: #1f58b5;
  text-decoration: none;
}
/* line 87, ../../app/stylesheets/_core.sass */
a:hover, .linkish:hover {
  text-decoration: underline;
}

/* line 92, ../../app/stylesheets/_core.sass */
.linkish {
  cursor: pointer;
}

/* line 95, ../../app/stylesheets/_core.sass */
strong, b {
  font-weight: bold;
}

/* line 98, ../../app/stylesheets/_core.sass */
em {
  font-style: italic;
}

/* line 101, ../../app/stylesheets/_core.sass */
h2 {
  font-size: 1.3em;
  margin: 0 0 0.5em;
  font-weight: bold;
}

/* line 107, ../../app/stylesheets/_core.sass */
h3 {
  text-align: center;
  margin-bottom: 1em;
  font-size: 1.1em;
}

/* line 112, ../../app/stylesheets/_core.sass */
h4 {
  font-weight: bold;
  font-size: 1.1em;
  text-align: center;
  margin-bottom: 1em;
}

/* line 118, ../../app/stylesheets/_core.sass */
.win, .fail {
  text-align: center;
  color: white;
  padding: 10px;
}

/* line 123, ../../app/stylesheets/_core.sass */
.win {
  background-color: #279412;
}

/* line 125, ../../app/stylesheets/_core.sass */
.fail {
  background-color: #bf0432;
}

/* line 128, ../../app/stylesheets/_core.sass */
.strong {
  font-weight: bold;
}

/* line 131, ../../app/stylesheets/_core.sass */
.hidden {
  display: none;
}

/* line 134, ../../app/stylesheets/_core.sass */
.bottom_text {
  margin: 1em 0;
  color: #666666;
  text-align: center;
}

/* line 3, ../../app/stylesheets/_form.sass */
form ol li {
  overflow: hidden;
  *zoom: 1;
  width: 580px;
  margin: 0 auto 7px;
}
/* line 8, ../../app/stylesheets/_form.sass */
form ol li.boolean label {
  padding-left: 312px;
}
/* line 10, ../../app/stylesheets/_form.sass */
form ol li.boolean label input {
  margin-right: 7px;
}
/* line 12, ../../app/stylesheets/_form.sass */
form label, form textarea, form input[type=text], form input[type=email], form input[type=password] {
  padding: 4px 6px;
}
/* line 14, ../../app/stylesheets/_form.sass */
form label {
  display: block;
  float: left;
  margin-right: 10px;
  width: 290px;
  line-height: 140%;
}
/* line 20, ../../app/stylesheets/_form.sass */
form .checkboxes {
  float: right;
  width: 268px;
}
/* line 23, ../../app/stylesheets/_form.sass */
form label.checkbox {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  width: 130px;
  float: none;
  margin: 0 0 5px 0;
  padding: 0;
}
/* line 7, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
form label.checkbox {
  *display: inline;
}
/* line 29, ../../app/stylesheets/_form.sass */
form label.checkbox[data-important=true] {
  width: 300px;
  font-weight: bold;
}
/* line 32, ../../app/stylesheets/_form.sass */
form .ui-slider {
  float: right;
  margin: 0px 12px 10px;
  width: 253px;
}
/* line 36, ../../app/stylesheets/_form.sass */
form .slider_value {
  float: right;
  margin: 3px 0px;
  width: 245px;
}
/* line 40, ../../app/stylesheets/_form.sass */
form input[type=text], form input[type=email], form input[type=password], form textarea {
  font-family: Georgia, Times, serif;
  font-size: 1em;
  margin: 2px 0;
  border: 1px solid #888888;
  width: 250px;
}
/* line 46, ../../app/stylesheets/_form.sass */
form input.short {
  width: 120px;
}
/* line 48, ../../app/stylesheets/_form.sass */
form input[type=submit] {
  font-family: Georgia, Times, serif;
  margin-left: 312px;
  font-size: 1em;
  background-color: #eeeeee;
  border: 1px solid #888888;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  -o-border-radius: 25px;
  -ms-border-radius: 25px;
  -khtml-border-radius: 25px;
  border-radius: 25px;
  cursor: pointer;
  padding: 5px 7px;
}
/* line 57, ../../app/stylesheets/_form.sass */
form input[type=submit]:hover {
  background-color: #f8f8f8;
}
/* line 59, ../../app/stylesheets/_form.sass */
form p.inline-hints, form p.inline-errors {
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size: 0.8em;
  color: #888888;
  text-align: right;
  line-height: 140%;
  margin-top: 5px;
}
/* line 66, ../../app/stylesheets/_form.sass */
form p.inline-errors {
  color: #bf0432;
}
/* line 68, ../../app/stylesheets/_form.sass */
form span.required {
  padding-left: 3px;
  color: #999999;
  font-size: 0.8em;
  font-family: Helvetica, Arial, Verdana, sans-serif;
}

/* line 75, ../../app/stylesheets/_form.sass */
form.new_attendance input[type=text] {
  width: 25px;
  margin: 0 5px;
}

/* line 79, ../../app/stylesheets/_form.sass */
form input[type=submit].unbutton {
  border: none;
  background: none;
  margin-left: 5px;
}

/* line 85, ../../app/stylesheets/_form.sass */
li.numeric label {
  width: 450px;
}
/* line 87, ../../app/stylesheets/_form.sass */
li.numeric input {
  width: 25px;
}

/* line 90, ../../app/stylesheets/_form.sass */
li.error {
  background-color: #ffe5e5;
  padding-top: 5px;
}
/* line 93, ../../app/stylesheets/_form.sass */
li.error p {
  padding-right: 10px;
}

/* line 96, ../../app/stylesheets/_form.sass */
form.button_to {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
/* line 7, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
form.button_to {
  *display: inline;
}
/* line 98, ../../app/stylesheets/_form.sass */
form.button_to input {
  padding: 0;
  margin: 0;
}

/* line 102, ../../app/stylesheets/_form.sass */
.hidden_form {
  display: none;
  margin: 0;
  padding: 0;
}
/* line 106, ../../app/stylesheets/_form.sass */
.hidden_form form input {
  margin: 0;
}

/* line 109, ../../app/stylesheets/_form.sass */
.delete_button {
  float: right;
}
/* line 111, ../../app/stylesheets/_form.sass */
.delete_button form input {
  font-family: Helvetica, Arial, Verdana, sans-serif;
  text-decoration: underline;
  background-color: white;
  border: 0 none white;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
  color: #bbbbbb;
  font-size: 0.8em;
}
/* line 119, ../../app/stylesheets/_form.sass */
.delete_button form input:hover {
  background-color: white;
}

/* line 1, ../../app/stylesheets/_intro.sass */
#intro {
  text-align: center;
  margin-bottom: 25px;
  font-size: 1.75em;
}

/* line 1, ../../app/stylesheets/_user.sass */
.user_meals {
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 1em;
}

/* line 7, ../../app/stylesheets/_user.sass */
.user_meals_list {
  float: right;
  width: 400px;
}

/* line 1, ../../app/stylesheets/_meals.sass */
.unregistered_meals {
  border: 1px solid #888888;
  width: 400px;
  padding: 15px;
}

/* line 6, ../../app/stylesheets/_meals.sass */
ol.sidebar {
  padding: 10px;
  float: right;
  background-color: #eeeeee;
  width: 230px;
  margin-bottom: 1em;
  clear: right;
}

/* line 14, ../../app/stylesheets/_meals.sass */
.attending {
  color: #279412;
}

/* line 18, ../../app/stylesheets/_meals.sass */
ol.meals li {
  list-style-type: disc;
  margin: 0 0 0.5em 1em;
}

/* line 22, ../../app/stylesheets/_meals.sass */
.preview_details {
  font-family: Helvetica, Arial, Verdana, sans-serif;
  color: #555555;
  font-size: 0.8em;
  line-height: 120%;
  margin-bottom: 5px;
}
/* line 28, ../../app/stylesheets/_meals.sass */
.preview_details.line_1 {
  margin-top: 2px;
}

/* line 32, ../../app/stylesheets/_meals.sass */
#meal_full {
  text-align: center;
}

/* line 35, ../../app/stylesheets/_meals.sass */
.meal_host {
  font-size: 1em;
  text-align: center;
  margin-bottom: 1em;
}

/* line 40, ../../app/stylesheets/_meals.sass */
.meal_name {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.5em;
}

/* line 46, ../../app/stylesheets/_meals.sass */
.seats {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}
/* line 48, ../../app/stylesheets/_meals.sass */
.seats .num_seats {
  font-size: 1.5em;
  font-style: italic;
}

/* line 53, ../../app/stylesheets/_meals.sass */
.remaining_seats {
  margin-bottom: 1em;
}

/* line 55, ../../app/stylesheets/_meals.sass */
.guest_threshold {
  font-weight: bold;
}
/* line 57, ../../app/stylesheets/_meals.sass */
.guest_threshold.neg {
  color: #bf0432;
}
/* line 59, ../../app/stylesheets/_meals.sass */
.guest_threshold.pos {
  color: #279412;
}

/* line 64, ../../app/stylesheets/_meals.sass */
.reservation {
  font-size: 1.1em;
}

/* line 67, ../../app/stylesheets/_meals.sass */
table.details {
  margin: 2em auto;
  width: 90%;
  border-collapse: collapse;
}
/* line 71, ../../app/stylesheets/_meals.sass */
table.details td {
  width: 50%;
  text-align: center;
  padding: 10px;
  border: none;
}
/* line 76, ../../app/stylesheets/_meals.sass */
table.details td:first-child {
  border-right: 1px solid #888888;
}
/* line 78, ../../app/stylesheets/_meals.sass */
table.details tr:first-child td {
  border-bottom: 1px solid #888888;
}
/* line 80, ../../app/stylesheets/_meals.sass */
table.details .det-label {
  font-weight: bold;
}
/* line 82, ../../app/stylesheets/_meals.sass */
table.details .det {
  font-style: italic;
}

/* line 85, ../../app/stylesheets/_meals.sass */
.manage {
  font-style: italic;
  margin-bottom: 1em;
}

/* line 89, ../../app/stylesheets/_meals.sass */
ol.guest_list {
  margin-top: 1em;
  display: none;
}

/* line 93, ../../app/stylesheets/_meals.sass */
.attendance_info {
  background-color: #eeeeee;
  padding: 15px;
}
