.unregistered_meals
  border: 1px solid #888
  width: 400px
  padding: 15px
  
ol.sidebar
  padding: 10px
  float: right
  background-color: #eee
  width: 230px
  margin-bottom: 1em
  clear: right

.attending
  color: $win-color

ol.meals
  li
    list-style-type: disc
    margin-left: 1em
.meal_preview
  .small
    +sans
    color: #555
    font-size: 0.8em