= javascript_include_tag "https://ajax.googleapis.com/jsapi"

:javascript
  google.load("identitytoolkit", "1.0", { packages: ["notify"] });

- if @status == "success"
  :javascript
    window.google.identitytoolkit.notifyFederatedSuccess({ "email": "#{ @user.email }", "registered": true });
- else
  :javascript
    window.google.identitytoolkit.notifyFederatedError("accountMismatch");